# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [64]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [65]:
lst = [1.5, 75.2, 21.4, 88.0, 66.5, 88.3, 55.8, 75.7, 90.1, 43.7]

In [66]:
import pandas as pd

lst = [1.5, 75.2, 21.4, 88.0, 66.5, 88.3, 55.8, 75.7, 90.1, 43.7]
series = pd.Series(lst)

print(series)

0     1.5
1    75.2
2    21.4
3    88.0
4    66.5
5    88.3
6    55.8
7    75.7
8    90.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [67]:
third_value = series[2]

print(third_value)

21.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [68]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [69]:
import pandas as pd

b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b)

print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [70]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [71]:
import pandas as pd

b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b)

df.columns = ["HHHH"] * df.shape[1]

print(df)

   HHHH  HHHH  HHHH  HHHH  HHHH
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [72]:
import pandas as pd

b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b, columns=["Score 1", "Score 2", "Score 3", "Score 4", "Score 5"])

subset_df = df[["Score 1", "Score 3", "Score 5"]]

print(subset_df)

   Score 1  Score 3  Score 5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [73]:
import pandas as pd

b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b, columns=["Score 1", "Score 2", "Score 3", "Score 4", "Score 5"])

average_score_3 = df["Score 3"].mean()

print("Average Score 3:", average_score_3)

Average Score 3: 56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [74]:
import pandas as pd

b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b, columns=["Score 1", "Score 2", "Score 3", "Score 4", "Score 5"])

max_score_4 = df["Score 4"].max()

print("Maximum Score 4:", max_score_4)

Maximum Score 4: 88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [75]:
import pandas as pd

b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

df = pd.DataFrame(b, columns=["Score 1", "Score 2", "Score 3", "Score 4", "Score 5"])

median_score_2 = df["Score 2"].median()

print("Median Score 2:", median_score_2)

Median Score 2: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [76]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [77]:
import pandas as pd

orders = {
    'Description': [
        'LUNCH BAG APPLE DESIGN',
        'SET OF 60 VINTAGE LEAF CAKE CASES ',
        'RIBBON REEL STRIPES DESIGN ',
        'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
        'PLAYING CARDS JUBILEE UNION JACK',
        'POPCORN HOLDER',
        'BOX OF VINTAGE ALPHABET BLOCKS',
        'PARTY BUNTING',
        'JAZZ HEARTS ADDRESS BOOK',
        'SET OF 4 SANTA PLACE SETTINGS'
    ],
    'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
    'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
    'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]
}

# Create a DataFrame
df = pd.DataFrame(orders)

print(df)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [78]:
import pandas as pd

orders = {
    'Description': [
        'LUNCH BAG APPLE DESIGN',
        'SET OF 60 VINTAGE LEAF CAKE CASES ',
        'RIBBON REEL STRIPES DESIGN ',
        'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
        'PLAYING CARDS JUBILEE UNION JACK',
        'POPCORN HOLDER',
        'BOX OF VINTAGE ALPHABET BLOCKS',
        'PARTY BUNTING',
        'JAZZ HEARTS ADDRESS BOOK',
        'SET OF 4 SANTA PLACE SETTINGS'
    ],
    'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
    'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
    'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]
}

df = pd.DataFrame(orders)

total_quantity = df['Quantity'].sum()

total_revenue = df['Revenue'].sum()

print("Total Quantity Ordered:", total_quantity)
print("Total Revenue Generated:", total_revenue)

Total Quantity Ordered: 2978
Total Revenue Generated: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [79]:
import pandas as pd

orders = {
    'Description': [
        'LUNCH BAG APPLE DESIGN',
        'SET OF 60 VINTAGE LEAF CAKE CASES ',
        'RIBBON REEL STRIPES DESIGN ',
        'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
        'PLAYING CARDS JUBILEE UNION JACK',
        'POPCORN HOLDER',
        'BOX OF VINTAGE ALPHABET BLOCKS',
        'PARTY BUNTING',
        'JAZZ HEARTS ADDRESS BOOK',
        'SET OF 4 SANTA PLACE SETTINGS'
    ],
    'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
    'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
    'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]
}

df = pd.DataFrame(orders)

most_expensive = df['UnitPrice'].max()
least_expensive = df['UnitPrice'].min()


print(f"Most Expensive Item Price: {most_expensive}")
print(f"Least Expensive Item Price: {least_expensive}")
print(f"Price Difference: {price_difference}")

Most Expensive Item Price: 11.95
Least Expensive Item Price: 0.18
Price Difference: 11.77

In [80]:
!git clone https://github.com/ironhack-labs/lab-pandas-en.git

fatal: destination path 'lab-pandas-en' already exists and is not an empty directory.

## Let's load another dataset for more exercisesº

In [81]:
import pandas as pd
import os

file_path = os.path.join("lab-pandas-en", "Admission_Predict.csv")

df = pd.read_csv(file_path)

print(df.head())

print(f"Dataset shape: {df.shape}")

print(f"Dataset size in memory: {df.memory_usage(deep=True).sum()} bytes")

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90
Dataset shape: (385, 9)
Dataset size in memory: 27852 bytes

In [82]:
import pandas as pd
import os

file_path = os.path.join("lab-pandas-en", "Admission_Predict.csv")

df = pd.read_csv(file_path)

print(df.head())

print(f"Dataset shape: {df.shape}")

print(f"Dataset size in memory: {df.memory_usage(deep=True).sum()} bytes")

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90
Dataset shape: (385, 9)
Dataset size in memory: 27852 bytes

Let's evaluate the dataset by looking at the `head` function.

In [83]:
import pandas as pd
import os

# Specify the correct file path
file_path = os.path.join("lab-pandas-en", "Admission_Predict.csv")

# Load the dataset using the file path
df = pd.read_csv(file_path)

# Display the first 5 rows of the dataset
print(df.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [84]:
import pandas as pd
import os

# Specify the correct file path relative to the notebook's location
file_path = os.path.join("lab-pandas-en", "Admission_Predict.csv")

# Load the dataset using the file path
df = pd.read_csv(file_path)

# Check for missing values
missing_values = df.isnull().sum()

# Display the results
print("Missing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [85]:
import pandas as pd
import os

# Load the dataset
# Assuming 'Admission_Predict.csv' is in the 'lab-pandas-en' subdirectory
file_path = os.path.join("lab-pandas-en", "Admission_Predict.csv")
df = pd.read_csv(file_path)

# Set "Serial No." as the index while keeping it in the DataFrame
df.set_index("Serial No.", inplace=False)  # This does not modify the DataFrame permanently

# Display the first 5 rows to verify the change
print(df.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [86]:
import pandas as pd
import os

# Load the dataset
# Assuming 'Admission_Predict.csv' is in the 'lab-pandas-en' subdirectory
file_path = os.path.join("lab-pandas-en", "Admission_Predict.csv")  # Specify the correct relative path
df = pd.read_csv(file_path)

# Check if (GRE Score, CGPA) uniquely identify rows
unique_pairs = df.duplicated(subset=["GRE Score", "CGPA"]).sum()

# Display result
if unique_pairs == 0:
    print("GRE Score and CGPA uniquely identify each row.")
else:
    print(f"There are {unique_pairs} duplicate pairs of GRE Score and CGPA.")

GRE Score and CGPA uniquely identify each row.

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [87]:
import pandas as pd

# Sample dataset
data = {
    'Serial No.': [1, 2, 3, 4, 5],
    'GRE Score': [330, 315, 325, 330, 310],
    'TOEFL Score': [115, 105, 110, 115, 100],
    'University Rating': [4, 3, 4, 3, 2],
    'SOP': [4.5, 3.2, 3.8, 4.7, 2.9],
    'LOR': [4.5, 3.5, 4.0, 4.8, 3.6],
    'CGPA': [9.5, 8.7, 9.1, 9.3, 9.6],
    'Research': [1, 1, 1, 0, 1],
    'Chance of Admit': [0.85, 0.78, 0.90, 0.87, 0.79]
}

# Create DataFrame
df = pd.DataFrame(data)

# Filter rows where CGPA > 9 and SOP < 3.5
filtered_df = df[(df['CGPA'] > 9) & (df['SOP'] < 3.5)]

# Calculate the mean chance of admit for the filtered applicants
mean_chance_of_admit = filtered_df['Chance of Admit'].mean()

# Display the result
print(f"Mean Chance of Admit for applicants with CGPA > 9 and SOP < 3.5: {mean_chance_of_admit}")

Mean Chance of Admit for applicants with CGPA > 9 and SOP < 3.5: 0.79